<footer>
    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-center">

            <a href="https://www.facebook.com/gustavo.s.goncalves.1" target="_blank" class="p-3">
                <img class="tm-social p-30" src="../../assets/images/facebook.png" alt="Logo do Linkedin">
            </a>

            <a href="https://www.linkedin.com/in/gustavo-scabuzzi-gon%C3%A7alves-285898212/" target="_blank" class="p-3">
                <img class="tm-social p-30" src="../../assets/images/linkedin.png" alt="Logo do Linkedin">
            </a>

            <a href="https://www.instagram.com/g_scabuzzi/" target="_blank" class="p-3">
                <img class="tm-social p-30" src="../../assets/images/instagram.png" alt="Logo do Intagram">
            </a>

            <a href="https://www.twitch.tv/snowapalache" target="_blank" class="p-3">
                <img class="tm-social p-30" src="../../assets/images/iconeTwitch.png" alt="Logo da Twitch">
            </a>

            <a href="https://github.com/GustavoScabuzzi" target="_blank" class="p-3">
                <img class="tm-social p-30" src="../../assets/images/personagem-do-github.png" alt="Logo do GitHub">
            </a>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <p class="text-center ">
                Todos os direitos reservados:
                <strong>GustavoScabuzzi &copy;</strong>
            </p>
        </div>
    </div>

</footer>